#section-1306-2>.ct-section-inner-wrap {
  padding-top: 7rem;
  padding-bottom: 7rem
}

#section-1306-2 {
  background-color: #f2f2f2
}

#div_block-1316-2 {
  width: 100%;
  border-top-color: #0e77bb;
  border-right-color: #0e77bb;
  border-bottom-color: #0e77bb;
  border-left-color: #0e77bb;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 8px;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  margin-top: 4rem
}

.oxy-dynamic-list :is([data-id=div_block-1333-2], #incspec) {
  text-align: left;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: .5rem
}

@media (max-width:991px) {
  .oxy-dynamic-list :is([data-id=div_block-1318-2], #incspec) {
    min-width: 200px
  }
}

@media (max-width:991px) {
  .oxy-dynamic-list :is([data-id=div_block-1333-2], #incspec) {
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: flex-start
  }
}

@media (max-width:767px) {
  #div_block-1316-2 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
}

#headline-1310-2 {
  font-size: 4rem;
  color: #01347c;
  line-height: 1.125;
  margin-bottom: 15px
}

.oxy-dynamic-list :is([data-id=headline-1347-2], #incspec) {
  font-size: 2rem;
  line-height: 1.125;
  text-align: left;
  color: #0e77bb
}

@media (max-width:767px) {
  #headline-1310-2 {
    font-size: 2.8rem
  }
}

@media (max-width:767px) {
  .oxy-dynamic-list :is([data-id=headline-1347-2], #incspec) {
    font-size: 1.5rem
  }
}

@media (max-width:479px) {
  #headline-1310-2 {
    font-size: 2.4rem
  }
}

.oxy-dynamic-list :is([data-id=text_block-1363-2], #incspec) {
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px
}

.oxy-dynamic-list :is([data-id=text_block-1377-2], #incspec) {
  useCustomTag: true;
  font-size: 15px;
  border-radius: .25rem
}

@media (max-width:767px) {
  .oxy-dynamic-list :is([data-id=text_block-1363-2], #incspec) {
    font-size: 15px
  }
}

.oxy-dynamic-list :is([data-id=link-1326-2], #incspec) {
  border-radius: 8px;
  width: 100%;
  color: #0e77bb;
  text-align: center;
  align-items: flex-start;
  padding-top: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 1.75rem;
  padding-left: 1.75rem;
  height: 100%
}

@media (max-width:767px) {
  .oxy-dynamic-list :is([data-id=link-1326-2], #incspec) {
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem
  }
}

.oxy-dynamic-list :is([data-id=image-72-489], #incspec) {
  width: 60px;
  height: 60px
}

#code_block-82-489 {
  unwrap: true;
  display: none
}

#repeater-bolsa>* {
  grid-column: span 2
}

#repeater-bolsa>:last-child {
  grid-column: span 2
}

#repeater-bolsa>:nth-child(1) {
  grid-column: span 2
}

#repeater-bolsa>:nth-child(2) {
  grid-column: span 2
}

#repeater-bolsa>:nth-child(3) {
  grid-column: span 2
}

#repeater-bolsa>:nth-child(4) {
  grid-column: span 2
}

#repeater-bolsa>:nth-child(5) {
  grid-column: span 2
}

#repeater-bolsa {
  align-items: stretch;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-column-gap: 1.75rem;
  grid-row-gap: 1.75rem;
  position: relative;
  top: -2rem;
  display: grid
}

@media (max-width:991px) {
  #repeater-bolsa {
    flex-direction: row;
    display: flex
  }
}

@media (max-width:767px) {
  #repeater-bolsa {
    top: -1.25rem;
    gap: 1.25rem
  }
}

#repeater-bolsa .oxy-repeater-pages {
  font-size: 12px
}